th {
    cursor: pointer;
}
body {
    background-color: #1a1a1a !important;

}
#graph{
   display: flex;
}
#graph-text{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 10px;
    text-align: center
}


